.form_section {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.form_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 50px;
  padding: 3%;
  width: 90%;
  margin-top: 3%;
}
.form_head {
  font-size: 45px;
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.form {
  display: flex;
  align-self: center;
  width: 60%;
  flex-direction: column;
  row-gap: 10px;
  justify-content: center;
  align-items: center;
}
.input {
  font-size: 20px;
  padding: 2%;
  color: #282c34;
  width: 96%;
}
.input_price{
  font-size: 20px;
  padding: 2%;
  color: #282c34;
  width: 96%;
}
/* Chrome, Safari, Edge, Opera */
.input_price::-webkit-outer-spin-button,
.input_price::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.input_price[type=number] {
  -moz-appearance: textfield;
}
.textarea {
  font-size: 20px;
  padding: 2%;
  color: #282c34;
  border-radius: 10px;
  min-width: 96%;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  min-height: 150px;
}
.button {
  width: 50%;
  padding: 2%;
  color: white;
  background-color: #ff5820;
  border: none;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  border-radius: 10px;
  cursor: pointer;
}
.button:hover {
  background-color: #282c34;
  transition: 0.6s ease-in-out;
}
.go_back {
  color: #ff5820;
  font-size: 35px;
  position: absolute;
  top: 5%;
  left: 5%;
  cursor: pointer;
}
.info_form_label {
  text-transform: uppercase;
  color: darkgray;
}
.product_info_label {
  font-size: 17px;
  color: #282c34;
  align-self: flex-start;
}
